<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Budgtr</title>
    <style>
      h1 {
        font-size: 40px;
        margin-top: 20px;
      }
      h5 {
        display: inline;
        padding: 7px 20px;
        border-radius: 10px;
        background-color: rgb(235, 235, 235);
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <% let bankAccount = 0; %> <% for(let i = 0; i < budgetAll.length; i++){
      bankAccount += parseInt(budgetAll[i].amount) } %>

      <h1>Budgtr</h1>
      <h5>Bank account: <%= bankAccount %> $USD</h5>
      <button onclick="location.href='/budgets/new'">NEW ITEM</button>
      <table>
        <% for(let i = 0; i < budgetAll.length; i++){ %>
        <tr>
          <td><%= budgetAll[i].date %></td>
          <td><a href="/budget/<%= i %>"><%= budgetAll[i].name %></a></td>
          <td>$<%= parseInt(budgetAll[i].amount) %></td>
        </tr>
        <% } %>
      </table>
      <% if (bankAccount <= 0){ %>
      <style>
        h5 {
          background-color: rgb(249, 104, 104);
        }
      </style>
      <% } else if (bankAccount >= 1000){ %>
      <style>
        h5 {
          background-color: lightgreen;
        }
      </style>
      <% } %>
    </div>
  </body>
</html>
